.badge-pending {
    background-color: rgb(216, 157, 39); /* Couleur pour le statut "En attente" */
  
}
  
  .badge-approved {
    background-color: rgb(82, 164, 82); /* Couleur pour le statut "Approuvé" */
  }
  .text-white {
    color: white; /* Couleur du texte blanc */
  }
  .badge-rejected {
    background-color: rgb(255, 105, 97); /* Couleur pour le statut "Rejeté" */
  }
  