
  <div table-responsive>
  <div class="covoiturage-container" *ngIf="covoiturages.length > 0; else loading">
    <table class="table table-striped table-bordered" id="datatable">
      <thead>
        <tr>
         
          <th>Nombre Places</th>
          <th>Lieu de départ</th>
          <th>Destination</th>
          <th>Date de départ</th>
          <th>Description</th>
          
          <th>Action</th>
        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let type of covoiturages">
         
          <td>{{ type.nombre_placecov }}</td>
          <td>{{ type.lieu_depart }}</td>
          <td>{{ type.destination }}</td>
          <td>{{ type.date_depart }}</td>
          <td>{{ type.description }}</td>
         
          <td>
           <div class="user-list-files d-flex float-right">
<!--            <button><a  (click)="deleteCovoiturage(type.id_cov)" class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" ><i class="ri-delete-bin-line"></i></a>  </button>
-->
            <a  data-toggle="modal" data-toggle="modal" data-target="#myModal" data-placement="top" title="" data-original-title="Delete" (click)="openDialog(type.id_cov)" class="iq-bg-primary">  View notices  </a>
          </div> 
        </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>

  <div class="modal fade" id="myModal" role="dialog" *ngIf="showAddDialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title"> Carpooling {{selectedCovoiturageId}}</h2>
        </div>
        <div class="modal-body" *ngIf="listavisCov[selectedCovoiturageId]" >
          <!-- Assuming selectedCovoiturageId is the id_cov of the selected covoiturage -->
          <div class="iq-card" *ngFor="let avis of listavisCov[selectedCovoiturageId]">
            <div class="iq-card-header d-flex justify-content-between">
               <div class="iq-header-title">
                  <h4 class="card-title" style="color: red;">Notice {{avis.id_avis}}</h4>
               </div>
            </div>
            <div class="iq-card-body">
               <div class="about-info m-0 p-0">
                  <div class="row">
                    
                     <div class="col-3">Object :</div>
                     <div class="col-9">{{avis.objet}}</div>
                     <div class="col-3">Description</div>
                     <div class="col-9">{{avis.description}}</div>
                     <div class="col-3">Date Comment: </div>
                     <div class="col-9">{{avis.date_avis}}</div>
                  </div>
               </div>
            </div>
         </div>
        </div>
      </div>
    </div>
  </div>