<!--
    <div class="modal-container">
    <div class="modal-header">
        <h2>Ajouter une maison</h2>
    </div>
    <div class="modal-body" style="max-height: 600px; overflow-y: auto;">
        <form (ngSubmit)="onSubmit()" #taskForm="ngForm">
            <div class="form-group">
                <label for="duration">adresse:</label>
                <input type="text" id="adresse" [(ngModel)]="newMaison.adresse" name="adresse" class="form-control" required minlength="5" >
                <div *ngIf="taskForm.controls['adresse'].invalid && (taskForm.controls['adresse'].dirty || taskForm.controls['adresse'].touched)">
                    <div class="text-danger" *ngIf="taskForm.controls['adresse'].errors?.['required']">Veuillez insérer l'adresse.</div>
                </div>                
            </div>
            <br>
            <div class="form-group">
                <label for="description">description:</label>
                <input type="text" id="description" [(ngModel)]="newMaison.description" name="description" class="form-control" required minlength="5">
                <div *ngIf="taskForm.controls['description'].invalid && (taskForm.controls['description'].dirty || taskForm.controls['description'].touched)">
                    <div class="text-danger" *ngIf="taskForm.controls['description'].errors?.['required']">Veuillez insérer la description .</div>
                    <div class="text-danger" *ngIf="taskForm.controls['description'].errors?.['minlength']">La description doit contenir au moins 5 caractères.</div>

                </div>
            </div>
            <br>
            <div class="form-group">
                <label for="prix">Prix :</label>
                <input type="text" id="prix" [(ngModel)]="newMaison.prix" name="prix" class="form-control" required pattern="[0-9]+(\.[0-9]+)?">
                <div *ngIf="taskForm.controls['prix'].invalid && (taskForm.controls['prix'].dirty || taskForm.controls['prix'].touched)">
                    <div class="text-danger" *ngIf="taskForm.controls['prix'].errors?.['required']">Veuillez insérer le prix.</div>
                    <div class="text-danger" *ngIf="taskForm.controls['prix'].errors?.['pattern']">Le prix doit être un nombre valide.</div>
                </div>
            </div>
            
            <br>


            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" [disabled]="taskForm.invalid">Ajouter cette maison</button>
                <button type="button" class="btn btn-secondary" (click)="onClose()">Cancel</button>
            </div>
        </form>
    </div>
</div>
-->

