

     <br> 
     <br> 

     <br> 
     <br> 

      <!-- Testimonials Section - Home Page -->
    <section id="testimonials" class="testimonials">

      <div class="container">

        <div class="row align-items-center">

          <div class="col-lg-5 info" data-aos="fade-up" data-aos-delay="100">
            <h3>Explore Game Sessions !</h3>
            <p>
              Playing Card Games with university friends can be a delightful blend of camaraderie, strategy, and friendly competition. As the cards are dealt and the game begins, the air is often filled with laughter, banter, and the occasional groan of frustration or cheer of triumph.
            </p>
          </div>

          <div class="col-lg-7" data-aos="fade-up" data-aos-delay="200">

            <div class="swiper">
               
              <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  }
                }
              </script>
              <div class="swiper-wrapper">

                <div class="swiper-slide" >
                  <div class="testimonial-item" *ngFor="let session of sessions">
                    <div class="d-flex">
                      <img src="assets/FrontOffice/img/testimonials/testimonials-5.jpg" class="testimonial-img flex-shrink-0" alt="">
                      <div>
                        <h3>Saul Goodman</h3>
                        <h4>{{ session.nombrePlaces }} players in lobby</h4>
                        <div class="stars">
                          <i class="bi bi-star-fill" *ngFor="let i of getNumberArray(session.nombrePlaces)"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>{{ session.description }}</span>
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>


                    <button class="btn btn-primary" data-toggle="modal" data-toggle="modal" data-target="#myModalshowContrat">
                      <i class="bi bi-plus"></i> Join Lobby
                  </button>
                  
                  </div>
                </div><!-- End testimonial item --> 

                
                

              </div>
              <div class="swiper-pagination"></div>
            </div>

          </div>

        </div>

      </div>

    </section><!-- End Testimonials Section -->

    