<br>
<br>
<br>
<br>
<br>

<div class="container-fluid">
    <div class="row justify-content-center"> <!-- Centering the row -->
        <div class="col-md-5"> <!-- Adjust this column width to your preference -->
            <div class="container section-title aos-init aos-animate" data-aos="fade-up">
                <h2>Ajouter Covoiturage</h2>
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">
                                Ajouter
                            </h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <form (ngSubmit)="onSubmit()">
                            <div class="form-row">
                              <div class="col-md-12">
                                <label>Description</label>
                                <input type="text" class="form-control" [(ngModel)]="covoiturage.description" name="description">
                              </div>
                              <div class="col-md-6 mb-3">
                                <label>Nombre de places</label>
                                <input type="text" class="form-control" [(ngModel)]="covoiturage.nombre_placecov" name="nombre_placecov">
                              </div>
                              <div class="col-md-6 mb-3">
                                <label>Date de Départ</label>
                                <input type="date" class="form-control" [(ngModel)]="covoiturage.date_depart" name="date_depart">
                              </div>
                              <div class="col-md-6 mb-3">
                                <label>Lieu de départ</label>
                                <input type="text" class="form-control" [(ngModel)]="covoiturage.lieu_depart" name="lieu_depart">
                              </div>
                              <div class="col-md-6 mb-3">
                                <label>Destination</label>
                                <input type="text" class="form-control" [(ngModel)]="covoiturage.destination" name="destination">
                              </div>
                            </div> 
                            <div class="form-group">
                                <button  class="btn btn-primary" type="submit">Ajouter covoiturage</button>
            
                            </div> 
                          </form>
                          
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>
