
<br>
<br>
<br>
<br>
<br>

<button class="btn btn-primary" (click)="ajouterCovoiturage()">Ajouter Covoiturage </button>

<div class="col-lg-6 profile-center">
    <div class="tab-content">
       <div class="tab-pane fade active show" id="profile-feed" role="tabpanel">
          <div class="iq-card">
             <div class="iq-card-body p-0">
                <div class="user-post-data p-3">
                   <div class="d-flex flex-wrap">
                      <div class="media-support-user-img mr-3">
                         <img class="rounded-circle img-fluid"  alt="">
                      </div>
                      <div class="media-support-info mt-2">
                         <h5 class="mb-0"><a href="#" class="">Username</a></h5>
                         <!-- <p class="mb-0 text-primary">colleages</p> -->
                      </div>
                      <div class="iq-card-header-toolbar d-flex align-items-center">
                         <div class="dropdown">
                            <span class="dropdown-toggle text-primary" id="dropdownMenuButton52" data-toggle="dropdown">
                          <!--  <a href="#" class="text-secondary">29 mins <i class="ri-more-2-line ml-3"></i></a>-->    
                            </span>
                            <div class="dropdown-menu dropdown-menu-right p-0">
                               <a class="dropdown-item" href="#"><i class="ri-user-unfollow-line mr-2"></i>Unfollow</a>
                               <a class="dropdown-item" href="#"><i class="ri-share-forward-line mr-2"></i>Share</a>
                               <a class="dropdown-item" href="#"><i class="ri-file-copy-line mr-2"></i>Copy Link</a>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="user-post">
                   <a href="javascript:void();"></a>
                </div>
                <div class="comment-area p-3">
                   <div class="d-flex justify-content-between align-items-center">
                      <div class="d-flex align-items-center">
                         <div class="d-flex align-items-center feather-icon mr-3">
                            <a href="javascript:void();"><i class="ri-heart-line"></i></a>
                            <span class="ml-1">140</span>
                         </div>
                         <div class="d-flex align-items-center message-icon">
                            <a href="javascript:void();"><i class="ri-chat-4-line"></i></a>
                            <span class="ml-1">140</span>
                         </div>
                      </div>
                      <div class="d-flex align-items-center">
                         <div class="iq-media-group">
                            <a href="#" class="iq-media">
                            <img class="img-fluid avatar-40 rounded-circle" alt="">
                            </a>
                            <a href="#" class="iq-media">
                            <img class="img-fluid avatar-40 rounded-circle" alt="">
                            </a>
                            <a href="#" class="iq-media">
                            <img class="img-fluid avatar-40 rounded-circle" src="images/user/07.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                            <img class="img-fluid avatar-40 rounded-circle" src="images/user/08.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                            <img class="img-fluid avatar-40 rounded-circle" src="images/user/09.jpg" alt="">
                            </a>
                         </div>
                         <span class="ml-2">+140 more</span>
                      </div>
                   </div>
                   <hr>
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nulla dolor, ornare at commodo non, feugiat non nisi. Phasellus faucibus mollis pharetra. Proin blandit ac massa sed rhoncus</p>
                   <hr>
                   <ul class="post-comments p-0 m-0">
                      <li class="mb-2">
                         <div class="d-flex flex-wrap">
                            <div class="user-img">
                               <img src="images/user/02.jpg" alt="userimg" class="avatar-35 rounded-circle img-fluid">
                            </div>
                            <div class="comment-data-block ml-3">
                               <h6>Monty Carlo</h6>
                               <p class="mb-0">Lorem ipsum dolor sit amet</p>
                               <div class="d-flex flex-wrap align-items-center comment-activity">
                                  <a href="javascript:void();">like</a>
                                  <a href="javascript:void();">reply</a>
                                  <a href="javascript:void();">translate</a>
                                  <span> 5 minit </span>
                               </div>
                            </div>
                         </div>
                      </li>
                      <li>
                         <div class="d-flex flex-wrap">
                            <div class="user-img">
                               <img src="images/user/03.jpg" alt="userimg" class="avatar-35 rounded-circle img-fluid">
                            </div>
                            <div class="comment-data-block ml-3">
                               <h6>Paul Molive</h6>
                               <p class="mb-0">Lorem ipsum dolor sit amet</p>
                               <div class="d-flex flex-wrap align-items-center comment-activity">
                                  <a href="javascript:void();">like</a>
                                  <a href="javascript:void();">reply</a>
                                  <a href="javascript:void();">translate</a>
                                  <span> 5 minit </span>
                               </div>
                            </div>
                         </div>
                      </li>
                   </ul>
                   <form class="comment-text d-flex align-items-center mt-3" action="javascript:void(0);">
                      <input type="text" class="form-control rounded" placeholder="Lovely!">
                      <div class="comment-attagement d-flex">
                          <a href="javascript:void();"><i class="ri-user-smile-line mr-2"></i></a>
                          <a href="javascript:void();"><i class="ri-camera-line mr-2"></i></a>
                      </div>
                   </form>
                </div>
             </div>
          </div>
          