
<br>
<br>
<br>
<br>
<br>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
 <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>   
<main id="main">
    <!-- Blog Page Title & Breadcrumbs -->
    <div data-aos="fade" class="page-title">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Carpooling</h1>
              <p class="mb-0">Embark on a journey of convenience and sustainability with Esprit University's carpooling feature. Join our dynamic carpooling community, where every ride is an opportunity for adventure and connection. From daily commutes to special events, our carpooling platform offers a seamless way to share rides and reduce your carbon footprint.</p>
            </div>
            <div class="text-center mt-4">
               <button class="btn btn-primary btn-lg" (click)="ajouterCovoiturage()">add carpooling </button>
            </div>
          </div>
        </div>
      </div>

<section id="blog" class="blog">

   <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

     <div class="row gy-4 posts-list">

       <div class="col-xl-4 col-lg-6" *ngFor="let type of covoiturages">
         <article>

           
           <p class="post-category">{{type.date_depart}}</p>

           <h2 class="title">
             <a >From {{type.lieu_depart}} to {{type.destination}}</a> 

           </h2>
           <div class="post-meta">
            <button class="btn btn-primary btn-lg"  data-toggle="modal" data-toggle="modal" data-target="#myModal" (click)="openDialog(type.lieu_depart)">View on Map </button>
           </div>

           <div class="d-flex align-items-center">
             <div class="post-meta">
               <p class="post-author">Username</p> 
               <p class="post-date">
                 <time datetime="2022-01-01">Jan 1, 2022</time>
               </p>
             </div>
           </div>
           <hr>
                   <p>Notices</p>
                   <hr>
           <ul class="post-comments p-0 m-0">
            <li class="mb-2">
               <div   *ngFor="let aviss of listavisCov[type.id_cov]" class="d-flex flex-wrap">
                 
                 <div>
                  <div class="comment-data-block ml-3">
                   
                     <p class="mb-0">{{aviss.objet}}</p>
                     <h6>{{aviss.description}}</h6>
                     <div class="d-flex flex-wrap align-items-center comment-activity">
                        <a href="javascript:void();">like</a>
                     </div>
                  </div>
               </div>
               </div>
            </li>
            
         </ul>
         <form class="comment-text d-flex align-items-center mt-3" (ngSubmit)="submitAvis()" #avisForm="ngForm">
          <input type="text" class="form-control rounded" placeholder="Add a notice!" name="description" ngModel required>
          <div class="comment-attagement d-flex">
            
          </div>
          <button type="submit" class="btn btn-primary">Add Notice</button>
        </form>

         </article>
       </div><!-- End post list item -->

     
    
       
       
      
     </div><!-- End blog posts list -->

     <div class="pagination d-flex justify-content-center">
       <ul>
         <li><a href="#">1</a></li>
         <li class="active"><a href="#">2</a></li>
         <li><a href="#">3</a></li>
       </ul>
     </div><!-- End pagination -->

   </div>

 </section>




 <!--Map dialog-->
 <div class="modal fade" id="myModal" role="dialog" *ngIf="showAddDialog">
   <div class="modal-dialog">
   
     <!-- Modal content-->
     <div class="modal-content">
       <div class="modal-header">
         <h2 class="modal-title"> your departure location</h2>
       </div>
       <div class="modal-body">



<!-- HTML structure for map -->
<div id="map" style="height: 400px;"></div>

<!-- Include Leaflet JavaScript -->

       </div>
     </div>
     
   </div>
 </div>

 
