<br>
<br>
<br>
<br>
<br>
  <div class="container" *ngIf="maison">
    <div class="main-image">
      <img [src]="maison.images[currentImageIndex]" alt="Image de la maison">
    </div>
  </div>
  <h2>{{ maison.adresse }}</h2>
  <p>Description: {{ maison.description }}</p>
  <p>Prix: {{ maison.prix }}</p>
  <p>Ajouté par : {{ maison.user.userName }}</p>
  
  <div class="thumbnails">
    <div *ngFor="let image of maison.images; let i = index" class="thumbnail" [class.active]="i === currentImageIndex" (click)="showImage(i)">
      <img [src]="image" alt="Thumbnail de la maison">
    </div>
  </div>
  