<style>
  .preview {
    max-width: 200px;
  }
</style>
<br>
<br>
<br>
<br>
<br>

<div class="container">
    <button class="btn btn-primary " (click)="createNewTask()"data-bs-toggle="modal" >
        <i class="bi bi-plus">Ajouter une maison</i> 
      </button>
      <br>
      <br>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let maison of maison">
        <div class="card mb-3">
          <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcdyHdWn4oCIwCtIrHpBdEKDim4YO1S0T5FHV-_DTrJg&s" alt="Image de la maison">
          <div class="card-body">
            <h5 class="card-title">{{maison.adresse}}</h5>
            <p class="card-text">Prix : {{maison.prix}} TND</p>
            <p class="card-text">{{maison.description}}</p>
            <div class="img-cap">
                <a href="" class="">Détails !!<i class="ti-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  