<br><br><br><br><br>
<div style="display: flex; justify-content: center;">
<div class="iq-card-body "  style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); width: 80%;">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-5 iq-item-product-left ">
            <div class="h-56 d-flex align-items-center justify-content-center mb-4">
                <img src="https://cdn-demo.algolia.com/bestbuy-0118/5578851_sb.jpg" class="grid-view-img px-4 w-200">
            </div>
        </div>
        <div class="col-md-7 iq-item-product-right">
            <div class="product-additional-details">
                <h4 class="productpage_title">Amazon - Echo Dot</h4>
                <p>By <b>Amazon</b></p>
                    <div class="product-price">
                        <div class="regular-price">
                            <b> $ 49.99</b> 
                        </div>
                    </div>
                    <div class="stock">
                        <p>Etat: <span class="text-success">Available</span></p>
                    </div>
                    <br><br>
                    <div class="additional-product-action d-flex align-items-center">
                        <div class="product-action">
                        <div class="add-to-cart">
                            <button type="button" class="btn btn-outline-danger">
                                <i class="ri-shopping-cart-line "></i> Add to Cart </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 product-description-details mt-4">
                <div class="description-tabs">
                    <div class="tabs" id="__BVID__626"><!----><div class="">
                        <ul role="tablist" class="nav nav-tabs justify-content-center" id="__BVID__626__BV_tab_controls_"><!---->
                            <li role="presentation" class="nav-item">
                                <a role="tab" aria-selected="true" aria-setsize="3" aria-posinset="1" href="#" target="_self" class="nav-link active" id="__BVID__627___BV_tab_button__" aria-controls="__BVID__627">Description</a>
                            </li>
                            <li role="presentation" class="nav-item">
                                <a role="tab" tabindex="-1" aria-selected="false" aria-setsize="3" aria-posinset="2" href="#" target="_self" class="nav-link" id="__BVID__629___BV_tab_button__" aria-controls="__BVID__629">Specifications</a>
                            </li>
                            <li role="presentation" class="nav-item"><a role="tab" tabindex="-1" aria-selected="false" aria-setsize="3" aria-posinset="3" href="#" target="_self" class="nav-link" id="__BVID__631___BV_tab_button__" aria-controls="__BVID__631">Review</a>
                            </li>
                            <!----></ul>
                        </div>
                        <div class="tab-content mt-3" id="__BVID__626__BV_tab_container_">
                            <div role="tabpanel" aria-hidden="false" class="tab-pane active" id="__BVID__627" aria-labelledby="__BVID__627___BV_tab_button__">
                                <p>t metus quis, malesuada semper diam. Phasellus et iaculis ex, vitae maximus odio.</p>
                            </div>
                            <div role="tabpanel" aria-hidden="true" class="tab-pane" style="display: none;" id="__BVID__629" aria-labelledby="__BVID__629___BV_tab_button__"><p>Lorem ipsum dolor sit amet, consect</p>
                            </div>
                            <!----></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
                    <br><br>