<br>
<br>
<br>
<br>
<br>
<br>
<div class="page-title" data-aos="fade">
    <div class="container">
        <div class="row d-flex justify-content-center text-center">
            <div class="section-title" data-aos="fade-up">
                <h2>Welcome to Esprit University Events Hub</h2>
                <p>Explore a vibrant community-driven space where students like you can create and share exciting events that enrich our university experience.</p>
                <p>Whether it's organizing thought-provoking seminars, cultural festivals, or sports tournaments, this is your platform to inspire, engage, and connect with fellow students. Let your creativity shine and be a part of shaping unforgettable moments at Esprit University!</p>
            </div><!-- End Section Title -->
        </div>
    </div>
</div><!-- End Page Title -->

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8"> <!-- Modifié la taille de la colonne pour le calendrier plus large -->
            <div class="iq-card">
                <div class="iq-card-header d-flex justify-content-between">
                    <div class="iq-header-title">
                        <h4 class="card-title">Esprit Events Calendar</h4>
                    </div>
                    <div class="text-center mt-4">
                        <button class="btn btn-primary btn-lg" (click)="addevent()">+ Add your Event</button>
                      </div>
                </div>
                <div class="iq-card-body">
                    <div id='calendar'></div>
                </div>
            </div>
        </div>
    </div>
</div>
