<div class="iq-card-header d-flex justify-content-between">
  <div class="iq-header-title">
      <h4 class="card-title">Table of products</h4>
  </div>
  <div class="search-bar">
      <input type="text" class="form-control" placeholder="Search..."  [(ngModel)]="searchText" (input)="searchProducts()"  />
  </div>
</div>
<div class="iq-card-body">
    <div id="table" class="table-editable">
      
      <span class="table-add float-right mb-3 mr-2">
        <button type="button" class="btn btn-sm iq-bg-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><span class="pl-1">Add New product</span>
         </button>
      </span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <thead>
          <tr>
            <th>Id of the product</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Telephone number</th>
            <th>Condition</th>
            <th>Date of post</th>
            <th>Update</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of pubItems">
            <td>{{ item.id_pub }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.prix }} Dt</td>
            <td>{{ item.numTelephone }}</td>
            <td>{{ item.etat }}</td>
            <td>{{ item.datePost | date: 'medium' }}</td>
            <td>
                <span class="table-update">
                  <i type="button"  class="ri-refresh-line text-success pr-1" data-bs-toggle="modal" data-bs-target="#staticdrop" (click)="openUpdateModal(item)"></i>
                </span>
              </td>
              <td>
                <span class="table-remove">
                  <i class="ri-delete-bin-5-line text-danger" (click)="deleteItem(item.id_pub || -1)"></i>
                </span>
              </td>
          </tr>
        </tbody>
    </table>
    </div>
    
</div>

<!-- Modal form add -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add a new product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>




      <div class="modal-body">
        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Name of the product:</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name" [(ngModel)]="pubItem.name">
        </div>

        <div class="row">
          <div class="col">
            Price of the product:
            <input type="text" class="form-control" placeholder="Price" aria-label="First name" [(ngModel)]="pubItem.prix">
          </div>
          <div class="col">
            Phone number:
            <input type="text" class="form-control" placeholder="Number of telephone" aria-label="Last name" [(ngModel)]="pubItem.numTelephone">
          </div>
        </div>
<br>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Description: </label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="pubItem.description"></textarea>
        </div>

        
        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">image:</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="image" [(ngModel)]="pubItem.image">
        </div>
        <!--div class="mb-3 custom-file">
          Upload image of the product: 
          <label for="imageUpload" class="form-label">Image of the product</label>
          <input type="file" class="custom-file-input" id="imageUpload" accept="image/*">
          <label class="custom-file-label" for="imageUpload">Choose file</label>
      </div-->

      <div class="mb-3">
        <label for="conditionSelect" class="form-label">Condition of the product:</label>
        <select class="form-select" id="conditionSelect" aria-label="Condition select" [(ngModel)]="selectedEtat">
          <option *ngFor="let etat of etatOptions" [value]="etat">{{ etat }}</option>
        </select>
      </div>

      </div>




      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success"  (click)="addPubItemm()" >Add product</button>
      </div>
    </div>
  </div>
</div>


<!--Modal form update-->
<div class="modal fade" id="staticdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add a new product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>




      <div class="modal-body">
        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Name of the product:</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name" [(ngModel)]="pubItem.name">
        </div>

        <div class="row">
          <div class="col">
            Price of the product:
            <input type="text" class="form-control" placeholder="Price" aria-label="First name" [(ngModel)]="pubItem.prix">
          </div>
          <div class="col">
            Phone number:
            <input type="text" class="form-control" placeholder="Number of telephone" aria-label="Last name" [(ngModel)]="pubItem.numTelephone">
          </div>
        </div>
<br>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Description: </label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="pubItem.description"></textarea>
        </div>

        
        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">image:</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="image" [(ngModel)]="pubItem.image">
        </div>
        <!--div class="mb-3 custom-file">
          Upload image of the product: 
          <label for="imageUpload" class="form-label">Image of the product</label>
          <input type="file" class="custom-file-input" id="imageUpload" accept="image/*">
          <label class="custom-file-label" for="imageUpload">Choose file</label>
      </div-->

      <div class="mb-3">
        <label for="conditionSelect" class="form-label">Condition of the product:</label>
        <select class="form-select" id="conditionSelect" aria-label="Condition select" [(ngModel)]="selectedEtat" (change)="onEtatChange($event)">
          <option *ngFor="let etat of etatOptions" [value]="etat">{{ etat }}</option>
        </select>
      </div>

      </div>




      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" (click)="updateProduct()"  >Update product</button>
      </div>
    </div>
  </div>
</div>

