<div class="iq-card-header d-flex justify-content-between">
    <div class="iq-header-title">
        <h4 class="card-title">Table of Orders</h4>
    </div>
    <div class="search-bar">
        <input type="text" class="form-control" placeholder="Search..."  />
    </div>
  </div>


  <div class="iq-card-body">
    <div id="table" class="table-editable">
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <thead>
          <tr>
            <th>Id of cart</th>
            <th>the products</th>
            <th>Total</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cart of carts">
                <td>{{ cart.id }}</td>
                <td>
                    <ul>
                      <li *ngFor="let item of cart.pubItems">{{ item.name }}</li>
                    </ul>
                </td>
                <td>{{ cart.total }}</td>
                  <td>
                    <span class="table-remove">
                      <i class="ri-delete-bin-5-line text-danger" (click)="deleteCart(cart.id)"></i>
                    </span>
                  </td>
              </tr>
        </tbody>
    </table>
    </div>
    
</div>