<br><br><br><br><br>
<!--div class="container">
  <div class="row">
      <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
      </div>
    </div>
  </div!-->
<div class="gallery">
<div class="content">
<img src="/src/assets/Apple-iPhone-13-5G-256GB-Blue.png" >
<h3>Nom de prod</h3>
<h6>30 dt</h6>
<br>
<br>
<div class="icons">
  <i class="ri-shopping-cart-line text-success"></i>
  <a routerLink="/itemdetail"><i  class="ri-information-line "></i></a>
</div>

</div>
</div>