<br>
<br>
<br>
<br>
<br>

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
 <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>   
<section id="blog-details" class="blog-details">

    <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

      <div class="row g-5" *ngIf="covoiturage">

        <div class="col-lg-8">

          <article class="iq-card" class="article">

          
                <div id="map" style="height: 400px;"></div>
                       

            <h2 class="title">from {{covoiturage.lieu_depart}} to {{covoiturage.destination}}</h2>
            <h2 class="title">Places : {{covoiturage.nombre_placecov}} remaining</h2>

            <div class="meta-top">
              <ul>
                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a >Username</a></li>
                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a><time datetime="2020-01-01">{{covoiturage.date_depart}}</time></a></li>
                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a >{{ listavisCov[covoiturage.id_cov]?.length || 0 }}  Comments</a></li>
              </ul>
            </div><!-- End meta top -->

            <div class="content">
              <h2 class="title">
                   Description 
              </h2>
                <p> {{covoiturage.description}}</p>
              
           
              

             
              <img src="/assets/BackOffice/img/blog/blog-inside-post.jpg" class="img-fluid" alt="">

             

            </div><!-- End post content -->

        
          </article><!-- End post article -->

       

          <div class="comments">

            <h4 class="comments-count">{{ listavisCov[covoiturage.id_cov]?.length || 0 }} Comments </h4>

            <div id="comment-1" class="comment"  *ngFor="let aviss of listavisCov[covoiturage.id_cov]" >
              <div class="iq-card">
                <div class="iq-card-header d-flex justify-content-between">
                   <div class="iq-header-title">
                      <h4 class="card-title" style="color: red; ">Notice {{aviss.id_avis}}</h4>
                   </div>
                   <div class="meta-top" style="margin-right: 200px;">
                    <ul>
                      <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a >Username</a></li>
                      <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a><time datetime="2020-01-01">{{aviss.date_avis}}</time></a></li>
                    </ul>
                  </div>
                   
                </div>
                
              <div class="iq-card-body">
                <div class="about-info m-0 p-0">
                  <div class="row">
                    <div class="post-item">
                         
                          <div class="col-3">
                            {{aviss.objet}}
                          </div>
                          <div class="col-3">
                            {{aviss.description}}
                          </div>
                  </div>
                    </div>
                    </div>
                  
                </div>
              </div>  
            </div>

         
            

          </div><!-- End blog comments -->

        </div>

        <div class="col-lg-4">

          <div class="sidebar">

            <div class="sidebar-item search-form">
              <h3 class="sidebar-title">Leave comment</h3>
             
            </div><!-- End sidebar search formn-->
            <div class="sidebar-item categories">
                <form (ngSubmit)="addAvis(covoiturage.id_cov)">
                <ul class="mt-3">
                  <li>
                    <div class="row justify-content-center">
                      <div class="col-md-6 mb-3">
                        <input type="text" class="form-control" [(ngModel)]="avis.objet" name="objet" placeholder="Object">
                      </div>
                    </div>
                  </li>
                </ul>
              
                <ul class="mt-3">
                  <li>
                    <div class="row justify-content-center">
                      <div class="col-md-6 mb-3">
                        <textarea type="text" class="form-control" [(ngModel)]="avis.description" name="description" placeholder="Description"></textarea>
                      </div>
                    </div>
                  </li>
                </ul>
              
                <div class="row justify-content-center"> <!-- Center the button -->
                  <div class="col-md-6 mb-3">
                    <button style="margin-left:200px; " class="btn btn-primary" type="submit">Submit</button> <!-- Add your button here -->
                  </div>
                </div>
            </form>
              </div>
              
          </div><!-- End Sidebar -->

        </div>

      </div>

    </div>

  </section>
