<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <canvas id="gameChart" width="450" height="450"></canvas>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <canvas id="gameChart" width="450" height="450"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  
